.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efefef;
}
/* .navbar-logo {
  margin: 0px;
  margin-top: 15px;
}

.navbar-logo img {
  min-width: 200px;
  max-width: 300px;
} */

.navbar-items ul {
  margin: auto;
  padding: 0;
  list-style: none;
  display: table;
  /* width: 600px; */
  text-align: center;
  margin-bottom: 20px;
}

.navbar-items li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.navbar-items li a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-weight: bold;

  display: inline-block;
  padding: 15px 15px;
  position: relative;
}

.navbar-items li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-red);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-items li a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
